{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
	<h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
	
	<div class="row text-center text-white mb-5">
		<div class="col-sm-4">
			<i class="fas fa-mug-hot fa-2x mb-3 i-color"></i>
			<h3>Java</h3>
			<p class="ss-color">Core Java, Collections, MultiThreading, Exception Handling, JDBC</p>
		</div>
		<div class="col-sm-4">
			<i class="fas fa-pallet fa-2x mb-3 i-color"></i>
			<h3>Web Design</h3>
			<p class="ss-color">Simple designs using HTML5, CSS, PHP, Bootstrap</p>
		</div>
		<div class="col-sm-4">
			<i class="fas fa-laptop-code fa-2x mb-3 i-color"></i>
			<h3>Web Development</h3>
			<p class="ss-color">Projects developed using Python Django Framework, SublimeText</p>
		</div>
		
	</div>

	<div class="row text-center text-white mb-5">
		<div class="col-sm-4">
			<i class="fab fa-android fa-2x mb-3 i-color"></i>
			<h3>Android Development</h3>
			<p class="ss-color">Android life cycle, simple UI desing, Fragments, Sqlite</p>
		</div>
		<div class="col-sm-4">
			<i class="fab fa-hubspot fa-2x mb-3 i-color"></i>
			<h3>IoT</h3>
			<p class="ss-color">Project based on IoT 'Automated shopping Trolley' Using Rasberry Pi</p>
		</div>
		<div class="col-sm-4">
			<i class="fab fa-github fa-2x mb-3 i-color"></i>
			<h3>GitHub</h3>
			<p class="ss-color">Familiar with Github Usages</p>
		</div>
		
	</div>

	<div class="row text-center text-white mb-5">
		<div class="col-sm-4">
			<i class="fas fa-coins fa-2x mb-3 i-color"></i>
			<h3>Databases</h3>
			<p class="ss-color">Working experiences in Mysql, Oracle sql database Queries, Schemas</p>
		</div>
		<div class="col-sm-4">
			<i class="fas fa-ad fa-2x mb-3 i-color"></i>
			<h3>Advertising</h3>
			<p class="ss-color">Google Ad services</p>
		</div>
		<div class="col-sm-4">
			<i class="fas fa-broadcast-tower fa-2x mb-3 i-color"></i>
			<h3>Hosting</h3>
			<p class="ss-color">Hosting projects to PythonAnywhere, Heroku </p>
		</div>
		
	</div>



</div>
{% endblock content %}